.ql-editor{
    height: 90vh;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before
{
    content: 'Default';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before {
    content: 'Times New Roman';
    font-family: 'Times New Roman';
}
<<<<<<< HEAD
=======

>>>>>>> 4bca11729c1e7640bec9e3e5a80928bde4b7dfde
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before
{
    content: 'Arial';
    font-family: 'Arial';
}

.ql-font-arial {
    font-family: 'Arial';
}

.ql-font-times-new-roman {
    font-family: 'Times New Roman';
}
